EbookLib==0.18
urllib3==2.3.0
protobuf>=3.20.2,<4.21.0
beautifulsoup4==4.13.3
deep-translator==1.11.4
undetected-chromedriver==3.5.5
selenium==4.30.0
selenium-stealth==1.0.6
fake-useragent==2.1.0
brotli==1.1.0
PyQt5==5.15.11
qtawesome==1.4.0
google-generativeai==0.8.4
httpx==0.28.1
httpx_retry
portalocker==3.1.1
pkuseg==0.0.25
platformdirs==4.3.7
